body {
    font-family: 'Arial', sans-serif;
}

.jumbotron {
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Dark gray text */
}

.footer {
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Dark gray text */
}